@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
  background: rgb(0, 0, 0);
  color: rgb(168, 101, 169);
}

.page-header {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-header a {
  color: rgb(168, 102, 169);
  text-decoration: none;
}

.page-header a img {
  width: 42px;
}

.page-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

.page-navbar-links {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.about {
  background-image: url('https://anime-chan.me/uploads/posts/2021-06/1624194077_atdan-_90352192_p0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
}

.about .container {
  align-items: center;
  display: flex;
  max-width: 900px;
  margin-top: 120px;
  padding: 60px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.about .image {
  max-width: 480px;
}
